Repository Rust-GCC/gccrs, pull requests merged in 2024-02, with the labels that each got.

#2806 Set the default ABI to C for extern blocks and extern functions
  gcc/rust/hir/rust-ast-lower-base.cc
Labels: bug, Rust Integrations

#2825 gccrs: add testcase to prove issue has already been fixed
  gcc/testsuite/rust/compile/issue-1483.rs
Labels: bug, testsuite

#2826 gccrs: add test cases to prove type inference is working
  gcc/testsuite/rust/compile/issue-2772-1.rs
  gcc/testsuite/rust/compile/issue-2772-2.rs
Labels: bug, testsuite

#2828 gccrs: Fix ICE accessing empty vector without check
  gcc/rust/typecheck/rust-tyty-subst.cc
  gcc/testsuite/rust/compile/issue-2747.rs
Labels: bug

#2821 Move the Implementation of implitem lowering into its own file.
  gcc/rust/Make-lang.in
  gcc/rust/hir/rust-ast-lower-implitem.cc
  gcc/rust/hir/rust-ast-lower-implitem.h
Labels: cleanup

#2829 gccrs: Add testcase to show issue is already fixed
  gcc/testsuite/rust/compile/issue-2782.rs
Labels: bug, testsuite

#2830 gccrs: fix bug in pattern check for tuples
  gcc/rust/typecheck/rust-hir-type-check-pattern.cc
  gcc/testsuite/rust/compile/issue-2775.rs
Labels: bug
