Repository Rust-GCC/gccrs, pull requests merged in 2024-09, with the labels that each got.

#3152 Fix clang-format CI
  .github/workflows/clang-format.yml
Labels: CI

#3170 Adjust expected warnings for alpine 32 bit
  .github/alpine_32bit_log_warnings
Labels: CI

#3163 Fix ICE on error propagation with generic
  gcc/rust/resolve/rust-ast-resolve-expr.cc
  gcc/rust/resolve/rust-ast-resolve-expr.h
Labels: AST

#3178 rust: negative polarity removes restrictions on validation of impl blocks
  gcc/rust/hir/rust-ast-lower-item.cc
  gcc/rust/typecheck/rust-hir-type-check-item.cc
  gcc/testsuite/rust/compile/issue-3030.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug, HIR

#3179 rust: fix ICE when compiling impl block for !
  gcc/rust/resolve/rust-ast-resolve-type.cc
  gcc/rust/resolve/rust-ast-resolve-type.h
  gcc/rust/resolve/rust-name-resolver.cc
  gcc/rust/resolve/rust-name-resolver.h
  gcc/testsuite/rust/compile/issue-3035.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug, AST

#3176 rust fix ICE when hir lowering qualified path expressions without an as
  gcc/rust/hir/rust-ast-lower-type.cc
  gcc/testsuite/rust/compile/issue-3082.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug, HIR

#3175 rust: Add support for Clone and Copy derive on generic types
  gcc/rust/Make-lang.in
  gcc/rust/ast/rust-ast-builder-type.cc
  gcc/rust/ast/rust-ast-builder-type.h
  gcc/rust/ast/rust-ast-builder.cc
  gcc/rust/ast/rust-ast-builder.h
  gcc/rust/ast/rust-ast.h
  gcc/rust/ast/rust-path.h
  gcc/rust/ast/rust-type.h
  gcc/rust/expand/rust-derive-clone.cc
  gcc/rust/expand/rust-derive-clone.h
  gcc/rust/expand/rust-derive-copy.cc
  gcc/rust/expand/rust-derive-copy.h
  gcc/testsuite/rust/compile/issue-3139-1.rs
  gcc/testsuite/rust/compile/issue-3139-2.rs
  gcc/testsuite/rust/compile/issue-3139-3.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug, AST

#3177 rust: fix ICE during name resolution for impls on unit-types
  gcc/rust/resolve/rust-ast-resolve-type.cc
  gcc/rust/resolve/rust-ast-resolve-type.h
  gcc/testsuite/rust/compile/issue-3036.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug, AST

#3182 gccrs: add test case to show impl block on ! works
  gcc/testsuite/rust/compile/issue-2951.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug
