Repository Rust-GCC/gccrs, pull requests merged in 2025-05, with the labels that each got.

#3777 gccrs: Emit error diagnostic for bad impl type usage
  gcc/rust/hir/rust-ast-lower-implitem.cc
  gcc/rust/hir/rust-ast-lower-item.cc
  gcc/rust/hir/rust-ast-lower-type.cc
  gcc/rust/hir/rust-ast-lower-type.h
  gcc/testsuite/rust/compile/impl_trait_diag.rs
  gcc/testsuite/rust/compile/issue-1485.rs
Labels: diagnostic, HIR, typechecking

#3774 Improve canonical path handling for impl items
  gcc/rust/resolve/rust-ast-resolve-item.cc
  gcc/rust/util/rust-canonical-path.h
Labels: AST

#3775 nr2.0: Adjust enum item visitors
  gcc/rust/ast/rust-ast-visitor.cc
  gcc/rust/ast/rust-collect-lang-items.cc
  gcc/rust/ast/rust-collect-lang-items.h
  gcc/rust/resolve/rust-toplevel-name-resolver-2.0.cc
Labels: AST

#3780 gccrs: Prevent passing generic arguments to impl traits in argument position
  gcc/rust/ast/rust-desugar-apit.cc
  gcc/rust/ast/rust-item.h
  gcc/rust/hir/rust-ast-lower-type.cc
  gcc/rust/hir/tree/rust-hir-item.cc
  gcc/rust/hir/tree/rust-hir-item.h
  gcc/rust/typecheck/rust-tyty-subst.cc
  gcc/rust/typecheck/rust-tyty-subst.h
  gcc/testsuite/rust/compile/impl_trait_generic_arg.rs
  gcc/testsuite/rust/compile/nr2/exclude
Labels: diagnostic, HIR, typechecking

#3781 Fix ICE segfault on empty static loops
  gcc/rust/backend/rust-constexpr.cc
  gcc/testsuite/rust/compile/issue-3618.rs
Labels: HIR, constexpr

#3792 gccrs: We cant clone types as it will dup the node-id
  gcc/rust/expand/rust-derive-default.cc
  gcc/rust/expand/rust-derive-eq.cc
  gcc/testsuite/rust/compile/nr2/exclude
Labels: bug

#3789 nr2.0: Fix borrow checking
  gcc/rust/checks/errors/borrowck/rust-bir-builder-internal.h
Labels: bug, name resolution

#3788 Fix test `same_field_name.rs`
  gcc/rust/hir/rust-ast-lower-item.cc
  gcc/testsuite/rust/compile/same_field_name.rs
Labels: testsuite, cleanup

#3790 Fix `Attr` metavariable binding
  gcc/rust/parse/rust-parse-impl.h
  gcc/testsuite/rust/compile/macros/mbe/meta-param.rs
Labels: bug

#3794 Remove unused file
  gcc/rust/Make-lang.in
  gcc/rust/ast/rust-macro.cc
Labels: cleanup

#3807 gccrs: Initial support for Return Position Impl Trait
  gcc/rust/backend/rust-compile-type.cc
  gcc/rust/typecheck/rust-substitution-mapper.cc
  gcc/rust/typecheck/rust-tyty-call.cc
  gcc/rust/typecheck/rust-tyty.cc
  gcc/rust/typecheck/rust-tyty.h
  gcc/rust/typecheck/rust-unify.cc
  gcc/testsuite/rust/compile/bad-rpit1.rs
  gcc/testsuite/rust/execute/torture/impl_rpit1.rs
  gcc/testsuite/rust/execute/torture/impl_rpit2.rs
  gcc/testsuite/rust/execute/torture/impl_rpit3.rs
Labels: typechecking

#3809 gccrs: Always emit the error highest in the type hierarchy
  gcc/rust/typecheck/rust-coercion.cc
  gcc/rust/typecheck/rust-unify.cc
  gcc/rust/typecheck/rust-unify.h
  gcc/testsuite/rust/compile/traits9.rs
  gcc/testsuite/rust/compile/unify-errors1.rs
Labels: HIR
